<!doctype html>
<html lang="it">
<body>
    <header class="header">
        <section class="header-head">
            <h2 class="text-danger header-content">L'Impero di Apollo</h2>
            <button class="header-content btn btn-danger">Prenota!</button>
        </section>
        <section class="curved"></section>
    </header>
    <main>
        <section>
            <div class="red-space"></div>
            <div class=" container row row-cols-1 row-cols-md-3 g-4">
                <div class="col-sm">
                  <div class="card cards" style="height: 455px;">
                    <img src="./views/images/location.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Chi Siamo</h5>
                      <p class="card-text">Siamo una piccola pensione per cani situata in provincia di Venezia, che ha deciso di ospitare i cani di tutte le taglie mentre voi siete lontani da casa.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="card cards" style="height: 455px;">
                    <img src="./views/images/dogs.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Trattamento</h5>
                      <p class="card-text">Il tuo cane verrá trattato come un re! Durante il giorno potrá rimanere con altri cani, svolgere attivitá di vario genere oppure rilassarsi nella sua cuccia mentre tu sarai lontano da casa. Di notte sará rinchiuso in apoosite stanze munite di cibo, acqua e cuccia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="card cards" style="height: 455px;">
                    <img src="./views/images/sleeping.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Tempo di Permanenza</h5>
                      <p class="card-text">Il tempo di permanenza puó variare da un minimo di una notte ad un massimo di venti notti.</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="red-space"></div>
        </section>
    </main>
</body>
</html>