<!doctype html>
<html lang="it">
<body>
    <header class="header">
        <section class="header-head">
            <h2 class="text-danger header-content">L'Impero di Apollo</h2>
            <a class="header-content btn btn-danger">Prenota!</a>
        </section>
        <section class="curved"></section>
    </header>
    <main>
        <section id="info">
            <div class="red-space"></div>
            <div class=" container row row-cols-1 row-cols-md-3 g-4">
                <div class="col-sm">
                  <div class="card cards" style="height: 455px;">
                    <img src="./views/images/location.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Chi Siamo</h5>
                      <p class="card-text">Siamo una piccola pensione per cani situata in provincia di Venezia, che ha deciso di ospitare i cani di tutte le taglie mentre voi siete lontani da casa.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="card cards" style="height: 455px;">
                    <img src="./views/images/dogs.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Trattamento</h5>
                      <p class="card-text">Il tuo cane verrá trattato come un re! Durante il giorno potrá rimanere con altri cani, svolgere attivitá di vario genere oppure rilassarsi nella nostro parco immerso nella natura. Di notte sará rinchiuso in apoosite stanze munite di cibo, acqua e cuccia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="card cards" style="height: 455px;">
                    <img src="./views/images/sleeping.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Tempo di Permanenza</h5>
                      <p class="card-text">Il tempo di permanenza puó variare da un minimo di una notte ad un massimo di venti notti.</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="red-space"></div>
        </section>
        <section id="contact">
            <div class="info">
                <p class="display-6" style="margin-left: 4%;">CONTATTACI</p>
                <p class="contact-info lead"><i class="fa fa-map-marker fa-fw"></i> Viale dei Pensieri 27, Mirano(VE)</p>
                <p class="contact-info lead"><i class="fa fa-phone fa-fw"></i> Telefono: +39 3933993932</p>
                <p class="contact-info lead"><i class="fa fa-envelope fa-fw"></i> Email: imperodiapollo@gmail.com</p>
            </div>
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.8628352688515!2d12.101731521679273!3d45.492924654179724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477ecbd97df076db%3A0xc6a8bf06b9ce4c11!2sVia%20dei%20Pensieri%2C%2030035%20Mirano%20VE!5e0!3m2!1sit!2sit!4v1624217064117!5m2!1sit!2sit"
                width="1000px" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy"
                class="map">
            </iframe>
            <p class="lead form">RICHIEDI PIÚ INFORMAZIONI O PRENOTA UNA STANZA PER IL TUO CANE</p>
            <form class="form" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" class="form-control" name="name_mail" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Indirizzo Email</label>
                    <input type="email" class="form-control" name="email_mail" required>
                </div>
                <div class="mb-3">
                    <label for="subject" class="form-label">Oggetto</label>
                    <input type="text" class="form-control" name="subjec_mail" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Messaggio</label>
                    <textarea class="form-control" name="message_mail" rows="3" required></textarea>
                </div>
                <p id="accept_terms"><input type="checkbox" id="terms" name="terms" onclick="validateTerms()" >Accetto i <a href="privacy_policy.php">Termini della Privacy Policy</a>.</p>
                <p>
                    <button class="w3-button w3-light-grey w3-padding-large" id="btn_send" name="send" type="submit" disabled>  
                        INVIA MESSAGGIO
                    </button>
                </p>
            </form>
        </section>
    </main>
</body>
</html>