@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header-head {
    padding: 20px;
    background-color: #404040;
}

.header-head h2 {
    font-family: 'Lobster', cursive;
}

.header-head button {
    margin-left: 720px;
}

.header-content {
    display: inline-block;
}

.curved {
    position: relative;
    background: #404040;
    height: 15vh;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.red-space {
    margin-top: 1%;
    padding: 10px;
    background-color: rgba(226, 61, 61, 0.5);
    margin-bottom: 5%;
}

.cards {
    width: 18rem;
    margin-left: 20%;
    height: 500px;
}